<div class=quiz_index>
  <div class="row">
    <div class="col-md-9">
      <h2>Quiz List</h2>
    </div>
    <div class="col-md-3 text-right">
      <%= link_to 'Add Quiz', new_quiz_path, class: 'btn btn-primary' if current_user.admin? %>
    </div>
  </div>
</div>
  <table class="table table-bordered">
    <thread>
      <tr>
        <th>QuizName</th>
        <th>View Question</th>
        <% if current_user.admin? %>
          <th>Add Question</th>
          <th>delete</th>
          <th>Quiz Result</th>
        <% end %>
      </tr>
    </thread>
    <tbody>
      <% if @quizzes.blank? %>
      <tr>
        <td colspan="4" align="center"> No Record Found </td>
      </tr>
      <% else %>
        <% @quizzes.each do |q| %>
          <tr>
            <td><%= q.name %></td>
            <td><%= link_to 'view', quiz_questions_path(quiz_id: q.id) %></td>
            <% if current_user.admin? %>
              <td><%= link_to 'add', new_quiz_question_path(quiz_id: q.id) %></td>
              <td><%= link_to 'destroy', quiz_path(id: q.id), method: :DELETE %></td>
              <td><%= link_to 'Quiz Result', quiz_result_quizzes_path(quiz_id: q.id) %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
      <%= link_to "Back", :back, class:"btn btn-primary" %>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>

