<div class="new_quiz">
  <div class="container">
    <%= form_for @quiz, url: quizzes_path, method: :post do |f| %>
      <% if @quiz.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>
          <ul>
            <% @quiz.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <h3><Strong>Quiz Details</Strong></h3>
          <div class="information-list">
            <div class="field">
              <%= f.label :name, class: "form-group" %>
              <%= f.text_field :name, :required => true, class: "form-control" %>
            </div>
          </div>  
          <h3><strong>Question List</strong></h3>
          <div class="information-list">
            <%= f.fields_for :questions do |question| %>
              <%= render 'question_fields', f: question %>
              <br>
              <div class="link">
                <h1></h1><%= link_to_add_association('Add More Question', f, :questions) %>
              </div>
            <% end %>
          </div>
          <br>
          <div class="actions">
            <%= f.submit "Save", class:"btn btn-primary" %>
          </div>
            <%= link_to "Back", :back, class:"btn btn-link" %>
          <br>
        </div>
      </div>
    <% end %>
  </div>
</div>