<div class="new_quiz">
<div class="container">
  <h3><Strong>Answer Details</Strong></h3>
  <%= form_for @answer, :url=> quiz_question_answers_path,  method: :post do |f| %>
    <% if @answer.errors.any? %>
      <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>
      <ul>
        <% @answer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="information-list">
        <div class="field">
          <%= f.label :Response, class: "form-group" %>
          <%= f.text_field :response, :required => true, class: "form-control" %>
        </div>
      </div>  
    </div>
<br>
<br>
    <div class="row">
      <div class="col-md-6">
        <div class="actions">
          <%= f.submit "Save", class:"btn btn-primary" %>
        </div>
      </div>

      <div class="col-md-6">
        <%= link_to "Back", :back, class:"btn btn-link" %>
      </div>
    <br>
    </div>
   <% end %>
</div>
</div>